data/
!/data/neuroCorrelation_data
!/data/neuroCorrelation_data/CHENGDU_SMALLGRAPH/*
*.pyc
GEO_README.txt
a.txt
*.json
.VSCodeCounter/
cache/
.vscode/
*.json
mind gpu.txt
download/
ESPERIMENTI/

*.pyc

*.sh