data/
*.pyc
GEO_README.txt
a.txt
*.json
.VSCodeCounter/
cache/
.vscode/
*.json
mind gpu.txt
download/
ESPERIMENTI/

src/GeoSimulation/
src/OrienteeringScenarios/
src/SamplesGeneration/
src/test/
src/tool/
*.pyc

