data/
!/tvae/*
!/data/neuroCorrelation_data
!/data/neuroCorrelation_data/CHENGDU_SMALLGRAPH/*
*.pyc
GEO_README.txt
a.txt
*.json
.VSCodeCounter/
cache/
.vscode/
*.json
mind gpu.txt
download/
ESPERIMENTI/
*.csv
*.png
*.jpg
*.pyc
*.txt
*.sh
*pth
*xls
*.xlsx
*.log
__pycache__/
*.sh
*.npy
tvae/*
*doc
*.docx